@{
    ViewData["Title"] = "Navs";
}

<div ng-controller="mgrNavCtl">


    <div >
        <div class="row">
            <div class="col-xs-6">
                <ul id="ulNavs" class="ztree"></ul>
            </div>
            <div class="col-xs-4">
                <table>
                    <tr>
                        <td> Type：</td>
                        <td>
                            <input type="text" ng-model="nav.NavType" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Title：
                        </td>
                        <td>
                            <input type="text" ng-model="nav.Title" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            NavCode：
                        </td>
                        <td>
                            <input type="checkbox" ng-model="nav.NavCode">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Desc：
                        </td>
                        <td>
                            <input type="checkbox" ng-model="nav.Desc">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Icon：
                        </td>
                        <td>
                            <input type="text" ng-model="nav.Icon" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Url：
                        </td>
                        <td>
                            <input type="text" ng-model="nav.Url" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Module：
                        </td>
                        <td>
                            <input type="text" ng-model="nav.Module" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Target：
                        </td>
                        <td>
                            <input type="text" ng-model="nav.Target" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Sort：
                        </td>
                        <td>
                            <input type="text" ng-model="nav.Sort" />
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input type="hidden" ng-model="nav.Id" id="hdNavId" />
                            <button type="button" class="btn btn-primary btn-fw" ng-click="SaveNav()"> 添加为子类别 </button>
                            <button type="button" class="btn btn-primary btn-fw" ng-click="ModifyNav()"> 修 改 </button>
                            <button type="button" class="btn btn-primary btn-fw" ng-click="RemoveNav()"> 删 除 </button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>







