@{
    ViewData["Title"] = "Navs";
}
<link rel="stylesheet" href="../../mgr/css/zTreeStyle/zTreeStyle.css" type="text/css" />
<script type="text/javascript" src="../../mgr/js/jquery.ztree.core.min.js"></script>

<div ng-controller="mgrNavCtl">


    <div >
        <div class="row">
            <div class="col-xs-6">
                <ul id="ulNavs" class="ztree"></ul>
            </div>
            <div class="col-xs-5">
                <table>
                    <tr>
                        <td> Type：</td>
                        <td>
                            <input type="text" ng-model="navigate.NavType" />
                            <input type="radio" name="rdoNavType" ng-value="1" ng-model="navigate.NavType">目录 
                            <input type="radio" name="rdoNavType" ng-value="2" ng-model="navigate.NavType">菜单                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Title：
                        </td>
                        <td>
                            <input type="text" class="form-control"  ng-model="navigate.Title" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            NavCode：
                        </td>
                        <td>
                            <input type="text" class="form-control" ng-model="navigate.NavCode">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Desc：
                        </td>
                        <td>
                            <input type="text" class="form-control" ng-model="navigate.Desc">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Icon：
                        </td>
                        <td>
                            <input type="text" class="form-control" ng-model="navigate.Icon" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Url：
                        </td>
                        <td>
                            <input type="text" class="form-control" ng-model="navigate.Url" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Module：
                        </td>
                        <td>
                            <input type="text" class="form-control" ng-model="navigate.Module" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Target：
                        </td>
                        <td>
                            <input type="text" class="form-control" ng-model="navigate.Target" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Sort：
                        </td>
                        <td>
                            <input type="text" class="form-control" ng-model="navigate.Sort" />
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <br />
                            <input type="hidden" ng-model="navigate.Id" id="hdNavId" />
                            <button type="button" class="btn btn-primary btn-fw" ng-click="SaveNav(0)"> 添加根节点 </button>
                            <button type="button" class="btn btn-primary btn-fw" ng-click="SaveNav(99999)"> 添加子节点 </button>
                            <button type="button" class="btn btn-primary btn-fw" ng-click="SaveNav(999)"> 添加同级节点 </button>
                            <br />    <br />
                            <button type="button" class="btn btn-primary btn-fw" ng-click="modifyNav()"> 修 改 </button>
                            <button type="button" class="btn btn-primary btn-fw" ng-click="RemoveNav()"> 删 除 </button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>







