@{
    ViewData["Title"] = "Index";
}

<div ng-controller="mgrExpertAreaCtl">


    <div>
        <div class="table-responsive">
            <h3 class="card-title">赛区</h3>
            <hr />
           
           
        </div>


    </div>
</div>