@{
    ViewData["Title"] = "Index";
}

<div ng-controller="mgrMessageInfoCtl">


    <div>
        <div class="table-responsive">
            <h3 class="card-title"> 互动留言 </h3>
            <hr />
            <div ng-repeat="item in InfoList" class="messageSpan">
                <div class="messageInfo">
                    <h5>
                        <span ng-bind="item.region"></span>
                        <span ng-bind="item.title"></span>
                        <i ng-bind="item.createTime"></i>
                    </h5>
                    <div class="messageContent">
                        <p ng-bind="item.content"></p>
                    </div>
                </div>
                <div class="messageReply">
                    <h6>
                        <span ng-bind="item.replyName"></span> 
                        <i ng-bind="item.replyTime"></i>
                    </h6>
                    <div class="messageContent">
                        <p ng-bind="item.replyContent"></p>
                    </div>
                </div>
            
            </div>
           

        </div>
    </div>

</div>