@{
    ViewData["Title"] = "Index";
}


<div ng-controller="mgrNewsInfoCtl">
 <ul class="nav nav-tabs">
        <li role="presentation" ng-click="tab='eventNews'" ng-class="tab=='eventNews'?'active':''"><a href="#">赛事新闻</a></li>
        <li role="presentation" ng-click="tab='imageNews'" ng-class="tab=='imageNews'?'active':''"><a href="#">图片新闻</a></li>
        <li role="presentation" ng-click="tab='videoNews'" ng-class="tab=='videoNews'?'active':''"><a href="#">视频新闻</a></li>
    </ul>

    <div>
        <div class="table-responsive">

            <h3 class="card-title">新闻信息</h3>
            <hr />
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>类别</th>
                        <th>标题</th>


                        <th>发布时间</th>
                        <th>发布机构</th>
                        <th>发布人</th>

                        <th>是否显示</th>
                        <th>是否置顶</th>
                        <th>是否滚动</th>


                        <th>图片/视频/赛事</th>

                        <th>排序</th>

                        <!-- <th>状态</th> -->
                        <th>发布时间</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in InfoList">
                        <td><span ng-bind="item.id">Id</span></td>
                        <td><span ng-bind="item.newsType">NewsType</span></td>
                        <td><span ng-bind="item.title">Title</span></td>
                        <td><span ng-bind="item.createTimeTxt">PubTime</span></td>
                        <td><span ng-bind="item.pubOrg">PubOrg</span></td>
                        <td><span ng-bind="item.author">Author</span></td>

                        <td><span ng-bind="item.isShowTxt">IsShow</span></td>
                        <td><span ng-bind="item.isTopTxt">IsTop</span></td>
                        <td><span ng-bind="item.isRollTxt">IsRoll</span></td>

                        <td><span ng-bind="item.ThumUrl">ThumUrl</span></td>
                        <td><span ng-bind="item.sortNo">SortNo</span></td>
                        <!-- <td><span ng-bind="item.stateTxt">State</span></td> -->

                        <td>
                            <button type="button" class="btn btn-outline-primary" ng-click="toModify(item.id)"> 编辑 </button>
                            <button type="button" class="btn btn-outline-primary" ng-click="toDelete(item.id)"> 删 除 </button>
                            <button type="button" class="btn btn-outline-primary"> ** </button>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

</div>