@{
    ViewData["Title"] = "Index";
}


<div ng-controller="mgrNoticeInfoCtl">


    <div>
        <div class="table-responsive">
            <h3 class="card-title">通知公告</h3>
            <hr />
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>标题</th>

                        <th>发布时间</th>
                        <th>发布机构</th>
                        <th>发布人</th>

                        <th>是否显示</th>
                        <th>是否置顶</th>
                        <th>是否滚动</th>

                        <th>排序</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in EventInfoList">
                        <td><span ng-bind="item.id">Id</span></td>
                        <td><span ng-bind="item.title">Title</span></td>
                        <td><span ng-bind="item.pubTime">PubTime</span></td>
                        <td><span ng-bind="item.pubOrg">PubOrg</span></td>
                        <td><span ng-bind="item.author">Author</span></td>

                        <td><span ng-bind="item.isShow">IsShow</span></td>
                        <td><span ng-bind="item.isTop">IsTop</span></td>
                        <td><span ng-bind="item.isRoll">IsRoll</span></td>

                        <td><span ng-bind="item.sortNo">SortNo</span></td>
                        <td><span ng-bind="item.state">State</span></td>
                        <td>
                            <button type="button" class="btn btn-outline-primary"> 编 辑 </button>
                            <button type="button" class="btn btn-outline-primary"> 删 除 </button>
                            <button type="button" class="btn btn-outline-primary"> ** </button>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

</div>