@charset "utf-8";
/* contact */
.ul-location {
    padding-bottom: 60px;
}
.ul-location > li {
    width: 33.33%;
    height: 275px;
    float: left;
    padding: 20px 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.location {
    color: #333333;
    font-size: 1.5rem;
    padding: 17px 0 3px;
}
.contact li {
    color: #9B9B9B;
    font-size: 1.2rem;
}
.contact li span {
    color: #333333;
    padding-left: 10px;
}

.contact-wrap .contact-down{margin-left: 15px;}
.contact-wrap .contact-down a{cursor: pointer;color: #435d7c; font-size: 20px;text-decoration: underline;}
.contact-wrap .contact-down a:hover{text-decoration: underline;color: #0366d6;}