<!DOCTYPE html>
<!-- saved from url=(0020)http://10dd.s.cn.vc/ -->
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><!--<base href="/">-->
    <base href=".">
    <link rel="dns-prefetch" href="http://st.styleweb.cn/">
    <link rel="dns-prefetch" href="http://image.styleweb.cn/">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1.0, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta name="applicable-device" content="pc,mobile">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"><!--[if lt IE 9]><meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE"><![endif]-->
    <title>网站建设模板-响应式云建站</title>
    <meta name="robots" content="all">
    <meta name="description" content="响应式网站模板,网站建设模板,互联网企业网站模板">
    <meta name="keywords" content="响应式网站模板,网站建设模板,互联网企业网站模板">
    <style>
        .wow {
            visibility: hidden;
        }
    </style><!--[if lt IE 9]><style>.wow {visibility: visible;}</style><![endif]-->
    <link href="./Index_files/saved_resource" rel="stylesheet" type="text/css">
    <link href="./Index_files/saved_resource(1)" rel="stylesheet" type="text/css">
    <link href="./Index_files/style.css" rel="stylesheet" type="text/css">
    <style>







        #do-m-menustate:checked ~ .do-nav-m .do-nav-m-title, #do-m-menustate ~ .do-nav-m .do-nav-m-title {
            background-color: rgb(14, 13, 13) !important;
        }

        .do-nav-m-bar {
            background-color: rgb(255, 255, 255) !important;
        }

        .do-site-name *, .do-nav-m-ul li a, .do-nav-m-ul .icon-isSub:before {
            color: rgb(119, 119, 119);
        }

        .do-nav-m-ul li a {
            font-size: 14px;
        }

        .do-m-menu-btn span {
            background-color: rgb(246, 246, 246) !important;
        }

        .do-nav-m-ul > li > a, .do-nav-m-ul > li > ul {
            border-bottom-color: rgb(204, 204, 204);
        }

        .do-nav-m .do-site-name img {
            height: 32px;
        }

        .do-nav-m .do-nav-page-name {
            color: rgb(246, 246, 246);
        }














        .bg-f9 {
            background-color: #f9f9f9 !important;
        }

        .wl-pad20 {
            padding: 20px;
        }
    </style>
    <script src="./Index_files/hm.js.下载"></script>
    <script type="text/javascript">
        var StaticUrl = '\/\/bk.st.styleweb.com.cn\/';
        var sUserAgent = navigator.userAgent.toLowerCase();
        var bIsIpad = sUserAgent.match(/ipad/i) == "ipad";
        var bIsIphoneOs = sUserAgent.match(/iphone os/i) == "iphone os";
        var bIsMidp = sUserAgent.match(/midp/i) == "midp";
        var bIsUc7 = sUserAgent.match(/rv:1.2.3.4/i) == "rv:1.2.3.4";
        var bIsUc = sUserAgent.match(/ucweb/i) == "ucweb";
        var bIsAndroid = sUserAgent.match(/android/i) == "android";
        var bIsCE = sUserAgent.match(/windows ce/i) == "windows ce";
        var bIsWM = sUserAgent.match(/windows mobile/i) == "windows mobile";

        var browser = navigator.appName;
        var b_version = navigator.appVersion;
        var version = b_version.split(";");
        var _vm = {};
        var trim_Version = version[1] ? version[1].replace(/[ ]/g, "") : "";
        var isIe = {
            ie6: browser == "Microsoft Internet Explorer" && trim_Version == "MSIE6.0",
            ie7: browser == "Microsoft Internet Explorer" && trim_Version == "MSIE7.0",
            ie8: browser == "Microsoft Internet Explorer" && trim_Version == "MSIE8.0",
            ie9: browser == "Microsoft Internet Explorer" && trim_Version == "MSIE9.0"
        }

        function isWeiXin() {
            var ua = window.navigator.userAgent.toLowerCase();
            if (ua.match(/MicroMessenger/i) == 'micromessenger') {
                return true;
            } else {
                return false;
            }
        }

        var version = { 'css': '2018123164344', 'js': '201812316577' };


        function setCookie(c_name, value, expiredays) {
            var exdate = new Date()
            exdate.setDate(exdate.getDate() + expiredays)
            document.cookie = c_name + "=" + escape(value) + ";path=/" + ((expiredays == null) ? "" : ";expires=" + exdate.toGMTString())
        }


        setCookie("time_offset", -new Date().getTimezoneOffset() / 60);
    </script>
    <script src="./Index_files/jquery.min.js.下载"></script>
    <link rel="shortcut icon" type="image/ico" href="http://10dd.s.cn.vc/">
    <link rel="stylesheet" href="./Index_files/style(1).css">
    <style>

        #header_198608_0 > .do-area-bg .bgcolor, #header_198608_0 .fp-tableCell > .do-area-bg .bgcolor {
            background-color: rgb(29, 29, 29);
        }

        #banner_198608_0 > .do-area-bg .bgcolor, #banner_198608_0 .fp-tableCell > .do-area-bg .bgcolor {
            background-color: rgb(8, 8, 8);
        }

        #area_198608_0 .do-area-bg-conter {
        }

        #area_198608_0 .do-row-one, #area_198608_0 .do-element-text {
        }

        #area_198608_0 .do-area-bg-conter:before {
        }

        #area_198608_3 .do-area-bg-conter {
        }

        #area_198608_3 .do-row-one, #area_198608_3 .do-element-text {
        }

        #area_198608_3 .do-area-bg-conter:before {
        }

        #area_198608_4 > .do-area-bg .bgcolor, #area_198608_4 .fp-tableCell > .do-area-bg .bgcolor {
            background-color: rgba(6, 6, 6, 0.47);
        }

        .lt-ie9 #area_198608_4 > .do-area-bg .bgcolor, #area_198608_4 .fp-tableCell > .do-area-bg .bgcolor {
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F060606,endColorstr=#7F060606)
        }

        #area_198608_5 > .do-area-bg .bgcolor, #area_198608_5 .fp-tableCell > .do-area-bg .bgcolor {
            background-color: rgb(29, 29, 29);
        }

        #footer_198608_0 > .do-area-bg .bgcolor, #footer_198608_0 .fp-tableCell > .do-area-bg .bgcolor {
            background-color: rgb(40, 40, 45);
        }
    </style>
    <script>
        (function () {
            var obj = (document.getElementsByTagName('head')[0] || body),
                js = null;
            if (location.search == "?debug=true") {
                js = document.createElement('script');
                js.type = 'text/javascript';
                js.onload = function () {
                    new VConsole();
                };
                js.onerror = function (e) {
                    alert("vonsole.js load error,err:" + e);
                };
                js.src = "\/\/bk.st.styleweb.com.cn\/editor/js/vconsole.min.js";
                obj.appendChild(js);
            }
        })();

        var jsVersion = '201812316577',
            cssVersion = '2018123164344';
    </script>
    <link rel="stylesheet" href="./Index_files/style(2).css" id="layui_layer_skinstylecss" style="">
    <script type="text/javascript" src="./Index_files/swiper.min.js.下载"></script>
    <link rel="stylesheet" href="./Index_files/layer.css" id="layui_layer_skinlayercss" style="">
</head>
<body do-page-width="1" do-phone-nav="do-drop-full" do-phonenav-slip-direction="left-to-right" do-phonenav-btnalign="do-navBtn-right">
 </body>
</html>