@{
    ViewData["Title"] = "通知公告";
}

<link rel="stylesheet" type="text/css" href="~/css/notice.css">

<input type="hidden" id="hdId" value="@ViewBag.Id" />
<div ng-controller="NoticeDetailCtl">
	<!-- media center start -->
	<section>
		<div class="media-wrap">
			<div class="title-wrap">
				<div class="width-wrap breadcrumb">
					<a href="../Home/Index">首页</a> >
					<a href="../Notice/Index">通知公告</a> >
					{{Model.title}}
				</div>
			</div>
			<div class="notice-wrap width-wrap clearfix">
				<!-- notice paragraph start -->
				<div class="notice-cont-wrap">
					<dl>
						<dt class="notice-title" ng-bind="Model.title">出国交流提前办理护照的告知声明</dt>
						<dd class="notice-publish">
							发布：
							<span class="spn-publisher" ng-bind="Model.author">探知未来</span>
							<span class="spn-notice-time" ng-bind="Model.longDate">2018-11-23</span>
						</dd>
						<dd class="notice-para" ng-if="Model.document.docType==1" ng-bind-html="Model.content">
							<p><strong>
							关于“SOLVE FOR TOMORROW探知未来 <br>
							2017年全国青年科普创新实验暨作品大赛” <br>
							出国交流提前办理护照的告知声明</strong></p>

							<p>致所有入围总决赛的参赛选手：</p>

							<p>“SOLVE FOR TOMORROW探知未来 2017年全国青年科普创新实验暨作品大赛”各赛区已纷纷进入复赛阶段，15个赛区的各比赛项目将经过激烈的角逐产生1支第1名的团队，最终将有来自全国各地的75支队伍入围总决赛。</p>

							<p>参加决赛的选手们将于12月下旬在位于北京的中国科学技术馆进行最后一战。届时所有“一等奖”团队的成员（仅限学生）将获得出国交流的机会。</p>

							<p>为保证获奖选手的顺利出行，特别做如下告知声明：</p>

							<p>请所有进入总决赛的参赛选手携带护照进京，如因现场无法提交护照导致出签时间延误，无法按时出团的参赛选手，一律视为因自身原因自动放弃，组委会不予以任何补偿。</p>

							<p>1、大赛组委会将于总决赛当日比赛结束后在现场进行护照登记。</p>

							<p>2、任何没有按照时间限度缴纳资料造成的出签或成行问题，视为自动放弃，后期不会进行任何形式的补偿；</p>

							<p>3、由于个人造成的任何出签问题（如户籍，政治问题拒签，个人时间不允许等导致不能成行的），视为自动放弃，后期不会进行任何形式的补偿；</p>

							<p>4、护照等部分个人费用,不在出游奖励费用之内；</p>

							<p>5、具体行程时间以最终出行程单为准，由于自然不可抗因素等原因导致的出游计划变更，按照后期计划进行。</p>

							<p class="tr">大赛组委会 <br>

								2017年12月1日</p>
						</dd>
						<dd class="notice-para" ng-if="Model.document.docType==2">
							<iframe src="{{Model.document.url}}" id="frameDoc" frameborder="0" scrolling="no" width="100%" height="1000" onload="changeFrameHeight()"></iframe>							
						</dd>

					</dl>
				</div>
				<!-- notice paragraph end -->
				<!-- share start -->
				<div class="share-wrap">
					<dl class="dl-share">
						<!-- <dt>分享到：</dt>
						<dd>
							<a class="ico ico-share1" href="#">QQ</a>
							<a class="ico ico-share2" href="#">Sina</a>
							<a class="ico ico-share3" href="#">wechat</a>
							<a class="ico ico-share4" href="#">Qzone</a>
							<a class="ico ico-share5" href="#">comments</a>
						</dd> -->
					</dl>
				</div>
				<!-- share end -->
			</div>
		</div>
	</section>
	<!-- media center end -->
</div>