@charset "utf-8";
img {
  /* Responsive images (ensure images don't scale beyond their parents) */
  max-width: 100%;
  /* Part 1: Set a maxium relative to the parent */
  width: auto\9;
  /* IE7-8 need help adjusting responsive images */
  height: auto;
  /* Part 2: Scale the height according to the width, otherwise you get stretching */
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
.navbar {
  overflow: auto;
}
.slides-wrap {
  position: relative;
  overflow: visible !important;
}
#slides {
  display: none;
}
.slides-container {
  width: auto;
  margin: 0 auto;
  z-index: 0;
}
.slidesjs-control {
  z-index: 1;
}
.navbar .slides-container {
  width: auto !important;
}
#slides {
  display: none;
  margin: 0 0 30px;
  position: relative;
}
.slidesjs-slide img{
  width: 100%;
}
.slidesjs-pagination {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 40px;
  left: 50%;
  z-index: 2;
  transform: translateX(-26px);
}
.slidesjs-pagination li {
  float: left;
}
.slidesjs-pagination li a {
  display: block;
  width: 10px;
  height: 10px;
  background: #75757A;
  border-radius: 5px;
  float: left;
  margin: 0 8px;
  overflow: hidden;
  text-indent: -9999em;
}
.slidesjs-pagination li a.active {
  background: #ffffff;
}
.slidesjs-pagination li a:hover {
  background: #75757A;
}
#slides a:link,
#slides a:visited {
  color: #333;
}
#slides a:hover,
#slides a:active {
  color: #9e2020;
}
/* control */
a.slidesjs-previous {
  position: absolute;
  bottom: 46%;
  left: 6%;
  display: inline-block;
  margin: auto;
  width: 30px;
  height: 30px;
  border-top: 3px solid rgba(255,255,255,0);
  border-right: 3px solid rgba(255,255,255,0);
  transform: rotate(-135deg);
  overflow: hidden;
  text-indent: -9999px;
  z-index: 2;
}
a.slidesjs-next {
  position: absolute;
  bottom: 46%;
  right: 6%;
  display: inline-block;
  margin: auto;
  width: 30px;
  height: 30px;
  border-left: 3px solid rgba(255,255,255,0);
  border-bottom: 3px solid rgba(255,255,255,0);
  transform: rotate(-135deg);
  overflow: hidden;
  text-indent: -9999px;
  z-index: 2;
}
#homeSlidesJs:hover a.slidesjs-previous, #homeSlidesJs:hover a.slidesjs-next {
  border-color: rgba(255,255,255,.88);
}
.item-card__item__inner:hover .slidesjs-pagination li a.active {
  background: #000;
}