@{
    ViewData["Title"] = "媒体中心";
}

<div ng-controller="MediaIndexCtl">
	<!-- media center start -->
	<section>
		<div class="media-wrap">
			<div class="title-wrap">
				<h1 class="h1-title">媒体中心</h1>
				<h2 class="h2-subtitle"><span>Media News Center</span></h2>
			</div>
			<div class="tabs-wrap">
				<div class="tabs-title">
					<a class="btn-tabs active" href="javascript:;">赛事新闻</a>
					<a class="btn-tabs" href="javascript:;">视频中心</a>
					<a class="btn-tabs" href="javascript:;">精选图片</a>
				</div>
				<!-- solve news start -->
				<div class="tabs pic-news-wrap width-wrap clearfix">
					<div class="one-news-wrap">
						<a href="media-para.html">
							<div class="img-media-wrap"><img src="~/images/img-news1.jpg" alt=""></div>
							<h3 class="h3-news-title">决赛名单来了，快看看有没有你，等你来参加</h3>
							<p class="publish-wrap"><span class="spn-publisher">发布人</span><span class="spn-publish-time">2018-10-30</span></p>
						</a>
					</div>
					<div class="one-news-wrap">
						<a href="media-para.html">
							<div class="img-media-wrap"><img src="~/images/img-news2.jpg" alt=""></div>
							<h3 class="h3-news-title">全国总决赛的通知文件（正式通知文件）</h3>
							<p class="publish-wrap"><span class="spn-publisher">发布人</span><span class="spn-publish-time">2018-10-30</span></p>
						</a>
					</div>
					<div class="one-news-wrap">
						<a href="media-para.html">
							<div class="img-media-wrap"><img src="~/images/img-news3.jpg" alt=""></div>
							<h3 class="h3-news-title">2018年全国青年科普创新实验暨作品大赛</h3>
							<p class="publish-wrap"><span class="spn-publisher">发布人</span><span class="spn-publish-time">2018-10-30</span></p>
						</a>
					</div>
					<div class="one-news-wrap">
						<a href="media-para.html">
							<div class="img-media-wrap"><img src="~/images/img-news4.jpg" alt=""></div>
							<h3 class="h3-news-title">全国总决赛的通知文件（正式通知文件）</h3>
							<p class="publish-wrap"><span class="spn-publisher">发布人</span><span class="spn-publish-time">2018-10-30</span></p>
						</a>
					</div>
					<div class="one-news-wrap">
						<a href="media-para.html">
							<div class="img-media-wrap"><img src="~/images/img-news5.jpg" alt=""></div>
							<h3 class="h3-news-title">2018年全国青年科普创新实验暨作品大赛</h3>
							<p class="publish-wrap"><span class="spn-publisher">发布人</span><span class="spn-publish-time">2018-10-30</span></p>
						</a>
					</div>
					<div class="one-news-wrap">
						<a href="media-para.html">
							<div class="img-media-wrap"><img src="~/images/img-news6.jpg" alt=""></div>
							<h3 class="h3-news-title">决赛名单来了，快看看有没有你，等你来参加</h3>
							<p class="publish-wrap"><span class="spn-publisher">发布人</span><span class="spn-publish-time">2018-10-30</span></p>
						</a>
					</div>
					<div class="clearfix"></div>
					<div class="pagination">
						<a class="prev disable" href=""><i class="arrow-left"></i></a>
						<a class="current" href="">1</a>
						<a class="" href="">2</a>
						<a class="" href="">3</a>
						<a class="next" href=""><i class="arrow-right"></i></a>
					</div>
				</div>
				<!-- solve news end -->
				<!-- video news start -->
				<div class="tabs pic-news-wrap width-wrap clearfix">
					<div class="one-video-wrap">
						<a href="media-para.html">
							<div class="img-media-wrap"><img src="~/images/img-news4.jpg" alt=""></div>
							<h3 class="h3-news-title">决赛名单来了，快看看有没有你，等你来参加</h3>
							<p class="publish-wrap"><span class="spn-publisher">发布人</span><span class="spn-publish-time">2018-10-30</span></p>
						</a>
					</div>
					<div class="one-video-wrap">
						<a href="media-para.html">
							<div class="img-media-wrap"><img src="~/images/img-news5.jpg" alt=""></div>
							<h3 class="h3-news-title">全国总决赛的通知文件（正式通知文件）</h3>
							<p class="publish-wrap"><span class="spn-publisher">发布人</span><span class="spn-publish-time">2018-10-30</span></p>
						</a>
					</div>
					<div class="one-video-wrap">
						<a href="media-para.html">
							<div class="img-media-wrap"><img src="~/images/img-news6.jpg" alt=""></div>
							<h3 class="h3-news-title">2018年全国青年科普创新实验暨作品大赛</h3>
							<p class="publish-wrap"><span class="spn-publisher">发布人</span><span class="spn-publish-time">2018-10-30</span></p>
						</a>
					</div>
					<div class="one-video-wrap">
						<a href="media-para.html">
							<div class="img-media-wrap"><img src="~/images/img-video1.jpg" alt=""></div>
							<h3 class="h3-news-title">决赛名单来了，快看看有没有你，等你来参加</h3>
							<p class="publish-wrap"><span class="spn-publisher">发布人</span><span class="spn-publish-time">2018-10-30</span></p>
						</a>
					</div>
					<div class="one-video-wrap">
						<a href="media-para.html">
							<div class="img-media-wrap"><img src="~/images/img-video2.jpg" alt=""></div>
							<h3 class="h3-news-title">全国总决赛的通知文件（正式通知文件）</h3>
							<p class="publish-wrap"><span class="spn-publisher">发布人</span><span class="spn-publish-time">2018-10-30</span></p>
						</a>
					</div>
					<div class="one-video-wrap">
						<a href="media-para.html">
							<div class="img-media-wrap"><img src="~/images/img-video3.jpg" alt=""></div>
							<h3 class="h3-news-title">2018年全国青年科普创新实验暨作品大赛</h3>
							<p class="publish-wrap"><span class="spn-publisher">发布人</span><span class="spn-publish-time">2018-10-30</span></p>
						</a>
					</div>
					<div class="clearfix"></div>
					<div class="pagination">
						<a class="prev disable" href=""><i class="arrow-left"></i></a>
						<a class="current" href="">1</a>
						<a class="" href="">2</a>
						<a class="" href="">3</a>
						<a class="next" href=""><i class="arrow-right"></i></a>
					</div>
				</div>
				<!-- video news end -->
				<!-- pic news start -->
				<div class="tabs pic-news-wrap width-wrap clearfix">
					<div class="one-news-wrap">
						<a href="media-para.html">
							<div class="img-media-wrap"><img src="~/images/img-video1.jpg" alt=""></div>
							<h3 class="h3-news-title">决赛名单来了，快看看有没有你，等你来参加</h3>
							<p class="publish-wrap"><span class="spn-publisher">发布人</span><span class="spn-publish-time">2018-10-30</span></p>
						</a>
					</div>
					<div class="one-news-wrap">
						<a href="media-para.html">
							<div class="img-media-wrap"><img src="~/images/img-video2.jpg" alt=""></div>
							<h3 class="h3-news-title">全国总决赛的通知文件（正式通知文件）</h3>
							<p class="publish-wrap"><span class="spn-publisher">发布人</span><span class="spn-publish-time">2018-10-30</span></p>
						</a>
					</div>
					<div class="one-news-wrap">
						<a href="media-para.html">
							<div class="img-media-wrap"><img src="~/images/img-video3.jpg" alt=""></div>
							<h3 class="h3-news-title">2018年全国青年科普创新实验暨作品大赛</h3>
							<p class="publish-wrap"><span class="spn-publisher">发布人</span><span class="spn-publish-time">2018-10-30</span></p>
						</a>
					</div>
					<div class="one-news-wrap">
						<a href="media-para.html">
							<div class="img-media-wrap"><img src="~/images/img-news4.jpg" alt=""></div>
							<h3 class="h3-news-title">全国总决赛的通知文件（正式通知文件）</h3>
							<p class="publish-wrap"><span class="spn-publisher">发布人</span><span class="spn-publish-time">2018-10-30</span></p>
						</a>
					</div>
					<div class="one-news-wrap">
						<a href="media-para.html">
							<div class="img-media-wrap"><img src="~/images/img-news5.jpg" alt=""></div>
							<h3 class="h3-news-title">2018年全国青年科普创新实验暨作品大赛</h3>
							<p class="publish-wrap"><span class="spn-publisher">发布人</span><span class="spn-publish-time">2018-10-30</span></p>
						</a>
					</div>
					<div class="one-news-wrap">
						<a href="media-para.html">
							<div class="img-media-wrap"><img src="~/images/img-news6.jpg" alt=""></div>
							<h3 class="h3-news-title">决赛名单来了，快看看有没有你，等你来参加</h3>
							<p class="publish-wrap"><span class="spn-publisher">发布人</span><span class="spn-publish-time">2018-10-30</span></p>
						</a>
					</div>
					<div class="clearfix"></div>
					<div class="pagination">
						<a class="prev disable" href=""><i class="arrow-left"></i></a>
						<a class="current" href="">1</a>
						<a class="" href="">2</a>
						<a class="" href="">3</a>
						<a class="next" href=""><i class="arrow-right"></i></a>
					</div>
				</div>
				<!-- pic news end -->
			</div>
		</div>
	</section>
	<!-- media center end -->

</div>