@{
    ViewData["Title"] = "媒体中心";
}

<div ng-controller="MediaIndexCtl">
	<!-- media center start -->
	<section>
		<div class="media-wrap">
			<div class="title-wrap">
				<h1 class="h1-title">媒体中心</h1>
				<h2 class="h2-subtitle"><span>Media News Center</span></h2>
			</div>
			<div class="tabs-wrap">
				<div class="tabs-title">
					<a class="btn-tabs active" href="javascript:;">赛事新闻</a>
					<a class="btn-tabs" href="javascript:;">视频中心</a>
					<a class="btn-tabs" href="javascript:;">精选图片</a>
				</div>
				<!-- solve news start -->
				<div class="tabs pic-news-wrap width-wrap clearfix">
					<div class="one-news-wrap" ng-repeat="news in NewsEventList">
						<a href="../Medias/Detail?id={{news.id}}">
							<div class="img-media-wrap"><img src="{{news.url}}" alt=""></div>
							<h3 class="h3-news-title" ng-bind="news.title">决赛名单来了，快看看有没有你，等你来参加</h3>
							<p class="publish-wrap"><span class="spn-publisher" ng-bind="news.author">发布人</span><span class="spn-publish-time" ng-bind="news.date">2018-10-30</span></p>
						</a>
					</div>
					
					<div class="clearfix"></div>
					<div class="pagination">
						<a class="prev disable" href="javascript:void(0)" ng-click="Pager(1,-1)"><i class="arrow-left"></i></a>
						<a class="current" href="" ng-bind="pagerEvent.pageIndex">1</a>
						<a class="" href="">/</a>
						<a class="" href="" ng-bind="pagerEvent.pageIndex">3</a>
						<a class="next" href="javascript:void(0)" ng-click="Pager(1,1)"><i class="arrow-right"></i></a>
					</div>
				</div>
				<!-- solve news end -->
				<!-- video news start -->
				<div class="tabs pic-news-wrap width-wrap clearfix">
					<div class="one-video-wrap" ng-repeat="news in NewsVideoList">
						<a href="../Medias/detail?id={{news.id}}">
							<div class="img-media-wrap"><img src="{{news.url}}" alt=""></div>
							<h3 class="h3-news-title" ng-bind="news.title">决赛名单来了，快看看有没有你，等你来参加</h3>
							<p class="publish-wrap"><span class="spn-publisher" ng-bind="news.author">发布人</span><span class="spn-publish-time" ng-bind="news.date">2018-10-30</span></p>
						</a>
					</div>
					
					<div class="clearfix"></div>
					<div class="pagination">
						<a class="prev disable" href="javascript:void(0)" ng-click="Pager(3,-1)"><i class="arrow-left"></i></a>
						<a class="current" href="" ng-bind="pagerVideo.pageIndex">1</a>
						<a class="" href="">/</a>
						<a class="" href="" ng-bind="pagerVideo.pageCount">3</a>
						<a class="next" href="javascript:void(0)" ng-click="Pager(3,1)"><i class="arrow-right"></i></a>
					</div>
				</div>
				<!-- video news end -->
				<!-- pic news start -->
				<div class="tabs pic-news-wrap width-wrap clearfix">
					<div class="one-news-wrap" ng-repeat="news in NewsImageList">
						<a href="../Medias/Detail?id={{news.id}}">
							<div class="img-media-wrap"><img src="{{news.url}}" alt=""></div>
							<h3 class="h3-news-title" ng-bind="news.title">决赛名单来了，快看看有没有你，等你来参加</h3>
							<p class="publish-wrap"><span class="spn-publisher" ng-bind="news.author">发布人</span><span class="spn-publish-time" ng-bind="news.date">2018-10-30</span></p>
						</a>
					</div>
					
					<div class="clearfix"></div>
					<div class="pagination">
						<a class="prev disable" href="javascript:void(0)" ng-click="Pager(2,-1)"><i class="arrow-left"></i></a>
						<a class="current" href="" ng-bind="pagerImage.pageIndex">1</a>
						<a class="" href="">/</a>
						<a class="" href="" ng-bind="pagerImage.pageCount">3</a>
						<a class="next" href="javascript:void(0)" ng-click="Pager(2,1)"><i class="arrow-right"></i></a>
					</div>
				</div>
				<!-- pic news end -->
			</div>
		</div>
	</section>
	<!-- media center end -->

</div>