@{
    ViewData["Title"] = "专家团队";
}

<link rel="stylesheet" type="text/css" href="~/css/professor.css">

<input type="hidden" id="hdId" value="@ViewBag.Id" />
<div ng-controller="ExpertDetailCtl">

	<!-- professor start -->
	<section>
		<div class="media-wrap">
			<div class="title-wrap">
				<div class="width-wrap breadcrumb">
					<a href="../Home/Index">首页</a> >
					<a href="../Expert/Index">专家团队</a> >
					<a href="../Expert/Index" ng-show="Model.type==1">院士专家</a>
					<a href="../Expert/Index" ng-show="Model.type==2">顾问专家</a> >
					{{Model.name}}
				</div>
			</div>
			<div class="width-wrap clearfix">
				<!-- professor paragraph start -->
				<div class="professor-para-wrap clearfix">
					<ul>
						<li class="title" ng-show="Model.type==1">院士专家</li>
						<li class="title" ng-show="Model.type==2">顾问专家</li>
						<li class="title-deco">
							<span class="spn-deco-word">2018 SOLVE FOR TOMORROW</span>
							<span class="spn-time" ng-bind="Model.date">2018-11-23</span>
						</li>
					</ul>
					<div class="professor-para">
						<div class="professor-img"><img src="{{Model.url}}" alt=""></div>
						<dl class="dl-proforlio">
							<dt class="professor-name" ng-bind="Model.name">欧阳自远</dt>
							<dd class="professor-intro"  ng-bind-html="Model.content">
								<p>著名天体化学与地球化学家，中国月球探测工程首任首席科学家，被誉为“嫦娥之父”，中国科学院院士、发展中国家科学院院士，国际宇航科学院院士。系统开展各类地外物质、月球科学、比较行星学和天体化学研究，是我国天体化学领域的开创者。</p>
								<p>国内外发表论文590余篇，出版学术专著17部，主编著作24部。成果获全国科学大会奖、国家自然科学奖、国家科技进步特等奖等多个奖项。</p>
								<p>2014年11月，为弘扬欧阳自远的学术贡献和科学精神，将一颗1996年发现并获得国际永久编号第8919号小行星，被命名为“欧阳自远星”。</p>
							</dd>
						</dl>
					</div>
				</div>
				<!-- professor paragraph end -->
				<!-- share start -->
				<div class="share-wrap">
					<dl class="dl-share">
						<dt>分享到：</dt>
						<dd>
							<a class="ico ico-share1" href="#">QQ</a>
							<a class="ico ico-share2" href="#">Sina</a>
							<a class="ico ico-share3" href="#">wechat</a>
							<a class="ico ico-share4" href="#">Qzone</a>
							<a class="ico ico-share5" href="#">comments</a>
						</dd>
					</dl>
				</div>
				<!-- share end -->
			</div>
		</div>
	</section>
	<!-- professor end -->


</div>