@{
    ViewData["Title"] = "专家团队";
}

<link rel="stylesheet" type="text/css" href="~/css/professor.css">

<div ng-controller="ExpertIndexCtl">

	<!-- professor start -->
	<section>
		<div class="media-wrap">
			<div class="title-wrap">
				<h1 class="h1-title">专家团队</h1>
				<h2 class="h2-subtitle"><span>Professional Team</span></h2>
			</div>
			<div class="tabs-wrap">
				<div class="tabs-title">
					<a class="btn-tabs active" href="javascript:;">院士专家</a>
					<a class="btn-tabs" href="javascript:;">顾问专家</a>
				</div>
				<!-- professor one start -->
				<div class="tabs professor-wrap width-wrap clearfix">
					<ul class="ul-professor">
						<li ng-repeat="item in zhjList">
							<a href="../Expert/Detail?id={{item.id}}">
								<img src="{{item.url}}" alt="">
								<span class="spn-name" ng-bind="item.name">欧阳自远</span>
							</a>
						</li>
						<li>
							<a href="professor-para1.html">
								<img src="~/images/professor2.jpg" alt="">
								<span class="spn-name">倪光南</span>
							</a>
						</li>
					</ul>
				</div>
				<!-- professor one end -->
				<!-- professor two start -->
				<div class="tabs professor-wrap width-wrap clearfix">
					<ul class="ul-professor">
						<li ng-repeat="item in YuansList">
							<a href="../Expert/Detail?id={{item.id}}">
								<img src="{{item.url}}" alt="">
								<span class="spn-name" ng-bind="item.name">杨再石</span>
							</a>
						</li>
						<li>
							<a href="professor-para2.html">
								<img src="~/images/professor4.jpg" alt="">
								<span class="spn-name">索双富</span>
							</a>
						</li>
						<li>
							<a href="professor-para2.html">
								<img src="~/images/professor5.jpg" alt="">
								<span class="spn-name">李全旺</span>
							</a>
						</li>
						<li>
							<a href="professor-para2.html">
								<img src="~/images/professor6.jpg" alt="">
								<span class="spn-name">刘剑松</span>
							</a>
						</li>
						<li>
							<a href="professor-para2.html">
								<img src="~/images/professor7.jpg" alt="">
								<span class="spn-name">高云峰</span>
							</a>
						</li>
						<li>
							<a href="professor-para2.html">
								<img src="~/images/professor8.jpg" alt="">
								<span class="spn-name">李雪梅</span>
							</a>
						</li>
					</ul>
				</div>
				<!-- professor two end -->
			</div>
		</div>
	</section>
	<!-- professor end -->

</div>