@{
    ViewData["Title"] = "互动留言";
}
	<link rel="stylesheet" type="text/css" href="~/css/command.css">
<div ng-controller="EventActiveCtl">

	<!-- awards start -->
	<section>
		<div class="media-wrap">
			<div class="title-wrap">
				<h1 class="h1-title">互动留言</h1>
				<h2 class="h2-subtitle"><span>Ask & Answer</span></h2>
			</div>
			<div class="command-wrap width-wrap clearfix">
				<!-- contact start -->
				<form action="">
					<div class="inp-wrap clearfix">
						<label for="">提问人姓名：</label>
						<div class="inp-name-wrap">
							<input class="inp-name" type="text" placeholder="请输入姓名">
						</div>
					</div>
					<div class="inp-wrap clearfix">
						<label for="">提问人赛区：</label>
						<select class="select-area" name="" id="#area">
							<option value="area">请选择赛区</option>
							<option value="beijing">北京</option>
							<option value="shanghai">上海</option>
							<option value="haerbin">哈尔滨</option>
						</select>
					</div>
					<div class="txt-wrap clearfix">
						<label for="">提 问 内 容：</label>
						<textarea class="txt-question" name="" id="" cols="30" rows="10" placeholder="请输入您的问题"></textarea>
					</div>
					<div class="inp-wrap clearfix">
						<label for=""></label>
						<button class="btn-submit">提交问题</button>
					</div>
				</form>
				<dl class="dl-command">
					<dt class="question">怎么参加今年的比赛？</dt>
					<dd class="ask">
						<span class="spn-user"><i class="ico ico-user"></i>科学小能手</span>
						<span class="spn-area"><i class="ico ico-area"></i>北京赛区</span>
					</dd>
					<dd class="answer">
						<p class="p-answer">本届大赛分为创意作品单元和科普实验单元。选手可以通过官网报名大赛，还可以通过APP注册报名，并提交科普实验单元的比赛视频和比赛成绩。谢谢！</p>
						<p class="p-solve clearfix">
							<span class="spn-time">2018-12-20</span>
							<span class="spn-solve">探知未来</span>
							<i class="ico ico-solve"></i>
						</p>
					</dd>
				</dl>
				<dl class="dl-command">
					<dt class="question">麻烦问一下，提交的文件是啥格式的？</dt>
					<dd class="ask">
						<span class="spn-user"><i class="ico ico-user"></i>创新科技</span>
						<span class="spn-area"><i class="ico ico-area"></i>西宁赛区</span>
					</dd>
					<dd class="answer">
						<p class="p-answer">创意作品单元和科普实验单元提交文件的要求各不一样。 创意作品单元需要PDF格式的方案、jpg格式的承诺书拍照或者扫描件、zip或rar格式的设计文件压缩包、MP4格式的视频（非必须）。 科普实验单元需拍摄MP4格式比赛视频、jpg格式物料清单的拍照。 详细提交文件的要求可参见赛事介绍文件。 期待你的参与！^_^</p>
						<p class="p-solve clearfix">
							<span class="spn-time">2018-12-20</span>
							<span class="spn-solve">探知未来</span>
							<i class="ico ico-solve"></i>
						</p>
					</dd>
				</dl>
				<dl class="dl-command">
					<dt class="question">请问东北赛区的复赛名单什么时候给出，官网查询不到？</dt>
					<dd class="ask">
						<span class="spn-user"><i class="ico ico-user"></i>航海之光</span>
						<span class="spn-area"><i class="ico ico-area"></i>哈尔滨赛区</span>
					</dd>
					<dd class="answer">
						<p class="p-answer">你好，各赛区的时间和方式各不相同，您可以关注所在赛区的网址或者联系各赛区联系人。各赛区网址和联系人：https://kepudasai2017.cdstm.cn/index/3/a8dfe2fea3f045b48f93661ac8692e03/7e05f3b48f314c06bac6be319e95234f.html。谢谢您的参与！</p>
						<p class="p-solve clearfix">
							<span class="spn-time">2018-12-20</span>
							<span class="spn-solve">探知未来</span>
							<i class="ico ico-solve"></i>
						</p>
					</dd>
				</dl>
				<dl class="dl-command">
					<dt class="question">怎么参加今年的比赛？</dt>
					<dd class="ask">
						<span class="spn-user"><i class="ico ico-user"></i>科学小能手</span>
						<span class="spn-area"><i class="ico ico-area"></i>北京赛区</span>
					</dd>
					<dd class="answer">
						<p class="p-answer">本届大赛分为创意作品单元和科普实验单元。选手可以通过官网报名大赛，还可以通过APP注册报名，并提交科普实验单元的比赛视频和比赛成绩。谢谢！</p>
						<p class="p-solve clearfix">
							<span class="spn-time">2018-12-20</span>
							<span class="spn-solve">探知未来</span>
							<i class="ico ico-solve"></i>
						</p>
					</dd>
				</dl>
				<!-- contact end -->
			</div>
		</div>
	</section>
	<!-- awards end -->

</div>