@{
    ViewData["Title"] = "奖项设置";
}

<link rel="stylesheet" type="text/css" href="~/css/contest.css">
<div ng-controller="EventAwardCtl">

	<!-- awards start -->
	<section>
		<div class="media-wrap">
			<div class="title-wrap">
				<h1 class="h1-title">奖项设置</h1>
				<h2 class="h2-subtitle"><span>Awards Setting</span></h2>
			</div>
			<div class="awards-wrap width-wrap clearfix">
				<!-- awards para start -->
				<div class="awards-cont-wrap">
					<dl>
						<dt class="awards-title">2018 SOLVE FOR TOMORROW 奖项设置</dt>
						<dd class="contest-para">
							<p>一、决赛奖励设置</p>

							<p>（一）创意作品单元</p>

							<p>未来教育命题：一等奖一队、二等奖两队、三等奖三队。</p>

							<p>未来出行命题：中学组和大学组分设一等奖一队、二等奖两队、三等奖三队。</p>

							<p>（二）科普实验单元</p>

							<p>火星探索命题：一等奖一队、二等奖两队、三等奖三队。</p>

							<p>风能利用命题：一等奖一队、二等奖两队、三等奖三队。</p>

							<p>（三）其他奖项设置</p>

							<p>优胜奖：除一、二、三等奖之外，所有晋级决赛的队伍均获得优胜奖。</p>

							<p>优秀组织奖：根据各赛区组织参赛队伍数量和决赛获奖情况，评选出五家承办单位获优秀组织奖。</p>

							<p>优秀指导教师奖：所有决赛获得一、二、三等奖的团队带队教师均可获得优秀指导教师奖。</p>

							<p>一等奖的获奖选手，还将获得境外游学实践的机会哦。</p>

							<p>二、复赛奖励设置</p>

							<p>各分赛区设置。</p>
						</dd>
					</dl>
				</div>
				<!-- awards para end -->
				<!-- share start -->
				<div class="share-wrap">
					<dl class="dl-share">
						<dt>分享到：</dt>
						<dd>
							<a class="ico ico-share1" href="#">QQ</a>
							<a class="ico ico-share2" href="#">Sina</a>
							<a class="ico ico-share3" href="#">wechat</a>
							<a class="ico ico-share4" href="#">Qzone</a>
							<a class="ico ico-share5" href="#">comments</a>
						</dd>
					</dl>
				</div>
				<!-- share end -->
			</div>
		</div>
	</section>
	<!-- awards end -->
</div>