@{
    ViewData["Title"] = "奖项设置";
}

<link rel="stylesheet" type="text/css" href="~/css/contest.css">
<div ng-controller="EventAwardCtl">

	<!-- awards start -->
	<section>
		<div class="media-wrap">
			<div class="title-wrap">
				<h1 class="h1-title">奖项设置</h1>
				<h2 class="h2-subtitle"><span>Awards Setting</span></h2>
			</div>
			<div class="awards-wrap width-wrap clearfix">
				<!-- awards para start -->
				<div class="awards-cont-wrap">
					<dl>
                        <dt class="awards-title">第六届全国青年科普创新实验暨作品大赛 奖项设置</dt>
                        <dd class="contest-para">
                            <p>一、决赛奖项设置</p>

                            <p>（一）“智能控制”、“生物环境”和“风能利用”命题</p>

                            <p>
                                中学组和大学组分设一等奖队伍1支，二等奖队伍2支，三等奖队伍3支，优胜奖若干，并给予奖励。
                            </p>

                            <p>（二）“未来教育”命题</p>

                            <p>前2名队伍给予奖励。</p>

                            <p>（三）优秀指导教师奖</p>

                            <p>所有决赛获得一、二、三等奖的指导教师均可获得优秀指导教师奖。</p>
                            <p>（四）优秀组织奖</p>

                            <p>根据各赛区组织比赛情况，评选优秀组织奖。</p>



                            <p>二、初赛和复赛奖项设置</p>

                            <p>初赛和复赛奖项设置、奖励方式由各分赛区自行确定。</p>
                        </dd>
					</dl>
				</div>
				<!-- awards para end -->
				<!-- share start -->
				<div class="share-wrap">
					<dl class="dl-share">
						<dt>分享到：</dt>
						<dd>
							<a class="ico ico-share1" href="#">QQ</a>
							<a class="ico ico-share2" href="#">Sina</a>
							<a class="ico ico-share3" href="#">wechat</a>
							<a class="ico ico-share4" href="#">Qzone</a>
							<a class="ico ico-share5" href="#">comments</a>
						</dd>
					</dl>
				</div>
				<!-- share end -->
			</div>
		</div>
	</section>
	<!-- awards end -->
</div>