@{
    ViewData["Title"] = "赛事报名";
}
<link rel="stylesheet" type="text/css" href="~/css/contact.css">

<div ng-controller="EventContactCtl">
	<!-- awards start -->
	<section>
		<div class="media-wrap">
			<div class="title-wrap">
				<h1 class="h1-title">赛事报名</h1>
				<h2 class="h2-subtitle"><span>Contact Us</span></h2>
			</div>
			<div class="contact-wrap width-wrap clearfix">
				<!-- contact start -->
				<ul class="ul-location">
					<li>
						<div class="clearfix"><img src="~/images/img-location-1.jpg" alt=""></div>
						<p class="location">北京赛区</p>
						<ul class="contact">
							<li>负责人  <span class="spn-name">王先生</span></li>
							<li>邮&nbsp; &nbsp;箱 <span class="spn-tele">010-1234-5678</span></li>
							<li>电&nbsp; &nbsp;话 <span class="spn-mail">beijingsaiqu@solvefortomorrow.com</span></li>
						</ul>
					</li>
					<li>
						<div class="clearfix"><img src="~/images/img-location-2.jpg" alt=""></div>
						<p class="location">太原赛区</p>
						<ul class="contact">
							<li>负责人  <span class="spn-name">王先生</span></li>
							<li>邮&nbsp; &nbsp;箱 <span class="spn-tele">010-1234-5678</span></li>
							<li>电&nbsp; &nbsp;话 <span class="spn-mail">beijingsaiqu@solvefortomorrow.com</span></li>
						</ul>
					</li>
					<li>
						<div class="clearfix"><img src="~/images/img-location-3.jpg" alt=""></div>
						<p class="location">哈尔滨赛区</p>
						<ul class="contact">
							<li>负责人  <span class="spn-name">王先生</span></li>
							<li>邮&nbsp; &nbsp;箱 <span class="spn-tele">010-1234-5678</span></li>
							<li>电&nbsp; &nbsp;话 <span class="spn-mail">beijingsaiqu@solvefortomorrow.com</span></li>
						</ul>
					</li>
					<li>
						<div class="clearfix"><img src="~/images/img-location-4.jpg" alt=""></div>
						<p class="location">上海赛区</p>
						<ul class="contact">
							<li>负责人  <span class="spn-name">王先生</span></li>
							<li>邮&nbsp; &nbsp;箱 <span class="spn-tele">010-1234-5678</span></li>
							<li>电&nbsp; &nbsp;话 <span class="spn-mail">beijingsaiqu@solvefortomorrow.com</span></li>
						</ul>
					</li>
					<li>
						<div class="clearfix"><img src="~/images/img-location-5.jpg" alt=""></div>
						<p class="location">合肥赛区</p>
						<ul class="contact">
							<li>负责人  <span class="spn-name">王先生</span></li>
							<li>邮&nbsp; &nbsp;箱 <span class="spn-tele">010-1234-5678</span></li>
							<li>电&nbsp; &nbsp;话 <span class="spn-mail">beijingsaiqu@solvefortomorrow.com</span></li>
						</ul>
					</li>
					<li>
						<div class="clearfix"><img src="~/images/img-location-6.jpg" alt=""></div>
						<p class="location">济南赛区</p>
						<ul class="contact">
							<li>负责人  <span class="spn-name">王先生</span></li>
							<li>邮&nbsp; &nbsp;箱 <span class="spn-tele">010-1234-5678</span></li>
							<li>电&nbsp; &nbsp;话 <span class="spn-mail">beijingsaiqu@solvefortomorrow.com</span></li>
						</ul>
					</li>
					<li>
						<div class="clearfix"><img src="~/images/img-location-7.jpg" alt=""></div>
						<p class="location">泰安赛区</p>
						<ul class="contact">
							<li>负责人  <span class="spn-name">王先生</span></li>
							<li>邮&nbsp; &nbsp;箱 <span class="spn-tele">010-1234-5678</span></li>
							<li>电&nbsp; &nbsp;话 <span class="spn-mail">beijingsaiqu@solvefortomorrow.com</span></li>
						</ul>
					</li>
					<li>
						<div class="clearfix"><img src="~/images/img-location-8.jpg" alt=""></div>
						<p class="location">长沙赛区</p>
						<ul class="contact">
							<li>负责人  <span class="spn-name">王先生</span></li>
							<li>邮&nbsp; &nbsp;箱 <span class="spn-tele">010-1234-5678</span></li>
							<li>电&nbsp; &nbsp;话 <span class="spn-mail">beijingsaiqu@solvefortomorrow.com</span></li>
						</ul>
					</li>
				</ul>
				<!-- contact end -->
			</div>
		</div>
	</section>
	<!-- awards end -->

</div>