@{
    ViewData["Title"] = "赛事介绍";
}

<link rel="stylesheet" type="text/css" href="~/css/contest.css">
<input type="hidden" id="hdId" value="@ViewBag.Id" />
<div ng-controller="EventIndexCtl">
	<!-- contest start -->
	<section>
		<div class="media-wrap">
			<div class="title-wrap">
				<h1 class="h1-title">赛事介绍</h1>
				<h2 class="h2-subtitle"><span>Contest Introduction</span></h2>
			</div>
			<div class="contest-wrap width-wrap clearfix">
				<div class="tabs-news-list parentTypeList">
					<a class="btn-news" href="javascript:void(0)" ng-repeat="item in ParentTypeList" data-id="{{item.id}}" ng-bind="item.name">大赛概况</a>
					<!-- <a class="btn-news" href="#">创意作品单元</a>
					<a class="btn-news" href="#">未来教育</a>
					<a class="btn-news" href="#">未来出行（大学组）</a>
					<a class="btn-news" href="#">未来出行（中学组）</a>
					<a class="btn-news" href="#">科普实验单元</a>
					<a class="btn-news active" href="#">风能利用</a>
					<a class="btn-news" href="#">火星探索</a>
					<a class="btn-news" href="#">参赛指南</a>
					<a class="btn-news" href="#">红头文件</a> -->
				</div>
				<div class="tabs-news-list typeList">
					<a class="btn-news" href="javascript:void(0)" ng-repeat="item in typeList" data-id="{{item.id}}" ng-bind="item.name">大赛概况</a>
					<!-- <a class="btn-news" href="#">创意作品单元</a>
					<a class="btn-news" href="#">未来教育</a>
					<a class="btn-news" href="#">未来出行（大学组）</a>
					<a class="btn-news" href="#">未来出行（中学组）</a>
					<a class="btn-news" href="#">科普实验单元</a>
					<a class="btn-news active" href="#">风能利用</a>
					<a class="btn-news" href="#">火星探索</a>
					<a class="btn-news" href="#">参赛指南</a>
					<a class="btn-news" href="#">红头文件</a> -->
				</div>
				<!-- contest para start -->
				<div class="contest-cont-wrap">
					<dl>
						<dt class="contest-title" ng-bind="Model.title">
							SOLVE FOR TOMORROW 探知未来 <br>
							2017年全国青年科普创新实验暨作品大赛 <br>
							科普实验单元-风能利用命题
						</dt>
						<dd class="contest-para" ng-bind-html="Model.content">
							<p>一、命题背景</p>

							<p>风能是地球表面空气流动所产生的动能，属于可再生能源。人类很早就开始利用风能，如利用风力提水、灌溉、磨面、舂米，用风帆推动船舶前进等。14世纪的欧洲，风车成为不可缺少的原动机，在荷兰风车先用于汲水，以后又用于榨油、锯木、纺织等。现在风能作为一种清洁的可持续能源，已经成为除水能外，技术最成熟、最具有规模化开发条件和商业发展前景的发电方式。</p>

							<p>二、命题内容</p>

							<p>本赛事面向中学生，要求参赛队伍在给定的材料范围中，自选材料设计并制作一个装置，使其可利用风能实现逆风行驶，行驶速度快且性价比高者获胜。比赛将分为初赛、复赛、决赛三个阶段。</p>

							<p>三、考察目标</p>

							<p>考察参赛者机械结构设计能力；<br>
								考察参赛者流体力学知识；<br>
								考察参赛者制作工艺；<br>
								考察参赛者经济成本意识、预算控制能力、项目管理能力；<br>
								考察创意及判断性思维、团队合作、沟通协调、自主学习、临场应变等能力。</p>

							<p>四、比赛规则</p>

							<p>本赛事共分初赛、复赛、决赛三个阶段，其中初赛、复赛由各分赛区大赛组织方具体实施，决赛由中国科学技术馆组织实施。各阶段规则如下：</p>

							<p>一）初赛</p>

							<p>1．限制条件</p>

							<p>（1）风能来自固定风源的风扇，比赛过程中不得变更该风扇位置、风扇角度和风速。轴流风机参数：额定功率≈60W；扇叶直径≈40cm；风扇轴距跑道高度：20cm。各初赛承办单位可根据赛区实际情况选取合适的风扇，但比赛过程中不得更换风扇。</p>

							<p>（2）参赛队伍必须从大赛组织单位提供的材料中自行选择材料设计制作装置，不得使用自带材料。比赛正式开始前，各队凭《材料领用单》领取材料，比赛过程中，可根据消耗情况补充材料。大赛组织单位提供基本工具。装置自重不做限制。</p>

							<p>（3）装置尺寸不限。具体风能利用方式不做要求，但除去风源提供的风能，装置不得携带任何其他能源。</p>

							<p>（4）装置在行驶过程中不能改变外观。若装置在行驶过程中有坠落物，则本次成绩取消。</p>

							<p>（5）各赛区全部比赛应使用相同材质平面赛道。赛道长度50cm，赛道宽度40cm。赛道位于风源的正前方，平铺在桌子上，风源距离赛道终点20cm。</p>

							<p>（6）参赛作品无安全隐患。</p>

							<p>2．比赛规则</p>

							<p>（1）本阶段比赛要求参赛队伍人数为1-3人。</p>

							<p>（2）比赛装置制作时间为2小时，利用大赛组织单位提供的材料，在规定时间内完成现场制作。裁判将在制作结束前15分钟进行提示。裁判提示制作时间结束后，所有参赛选手必须立即停止制作，否则取消参赛资格。</p>

							<p>（3）在制作时间结束前30分钟，各组可进行试跑，先到先试，依次进行，每组最多3次试跑机会，每次试跑不得超过20秒钟。制作时间结束后，停止试跑。

							<p>（4）制作结束后，各参赛作品交大赛组织方统一保管存放，竞速环节开始前任何人不得触碰。</p>

							<p>（5）竞速比赛开始前，所有选手进行抽签，确定参赛顺序。</p>

							<p>（6）比赛过程中，先开启风力开关，由选手将装置移至起跑线处准备，裁判宣布开始并计时，选手按裁判指令放开装置。装置行驶至规定位置，停止计时。</p>

							<p>（7）比赛过程中，每位选手可进行三次行驶。每组参赛选手按照之前抽签顺序进行行驶，所有组完成第一次行驶后，再按顺序进行第二轮行驶。每位选手在前一次行驶后至下一次行驶前，可以对装置进行调整和修改。</p>

							<p>3．计分规则</p>

							<p>（1）有效着地点</p>

							<p>比赛开始前，装置的全部着地点应放在起跑线后且不压线，此时装置的全部着地点视为“有效着地点”。</p>

							<p>（2）未驶出比赛区</p>

							<p>只要任意一个“有效着地点”在比赛区域内，即视为“未驶出比赛区”。若该“有效着地点”在区域线上也视为“未驶出比赛区”。</p>

							<p>（3）有效成绩与无效成绩</p>

							<p>若装置的任意“有效着地点”能行驶过终点线，并且装置整体“未驶出比赛区”，则本次行驶时间记为一次“有效成绩”。其余情况均为“无效成绩”。</p>

							<p>特别说明：</p>

							<p>若装置释放后超过三分钟，任意“有效着地点”仍未能行驶过终点线，则记为“无效成绩”。</p>

							<p>若装置有任意一个“有效着地点”未能驶出起跑线，则记为“无效成绩”。</p>

							<p>若装置在行驶过程中有坠落物，则记为“无效成绩”。</p>

							<p>（4）有效行驶时间</p>

							<p>全部选手完成三次尝试后，每队取时间最短的“有效成绩”记为本队最终的“有效行驶时间”。“有效行驶时间”记录单位为“秒”，保留两位小数。若三次均为无效成绩，则该队出局。</p>

							<p>（5）选手最终排名按“有效行驶时间”由短到长的顺序依次进行排列以确定比赛名次，用时短者获胜。</p>

							<p>（6）若两队出现同分情况，则由赛事组织方加赛决定胜出者。</p>
						</dd>
					</dl>
				</div>
				<!-- contest para end -->
				<!-- share start -->
				<div class="share-wrap">
					<dl class="dl-share">
						<!-- <dt>分享到：</dt>
						<dd>
							<a class="ico ico-share1" href="#">QQ</a>
							<a class="ico ico-share2" href="#">Sina</a>
							<a class="ico ico-share3" href="#">wechat</a>
							<a class="ico ico-share4" href="#">Qzone</a>
							<a class="ico ico-share5" href="#">comments</a>
						</dd> -->
					</dl>
				</div>
				<!-- share end -->
			</div>
		</div>
	</section>
	<!-- contest end -->
</div>