@{
    ViewData["Title"] = "往届回顾";
}

<link rel="stylesheet" type="text/css" href="~/css/review.css">

<div ng-controller="EventReviewCtl">

	<!-- awards start -->
	<section>
		<div class="media-wrap">
			<div class="title-wrap">
				<h1 class="h1-title">往届回顾</h1>
				<h2 class="h2-subtitle"><span>Previous Review</span></h2>
			</div>
			<div class="review-wrap width-wrap clearfix">
				<!-- review start -->
				<ul class="ul-review">
					<li>
						<div class="review-img"><img src="~/images/img-preview-2017.jpg" alt=""></div>
						<dl class="dl-review">
							<dt>
								<strong>PREVIEW 2017</strong>
								2017 SOLVE FOR TOMORROW
							</dt>
							<dd>2017年全国青年科普创新实验暨作品大赛旨在面向未来，促进科普创新和实际应用，赛事分为“创意作品”及“科普实验”两个单元，全方位考察青年学生发现问题、解决问题及动手操作的综合能力。2017年大赛力求创新与突破，将加强成果转化和落地应用，推动大赛优秀的创意作品能够实际应用。同时，充分发挥科技馆教育的特色、加强馆校合作，促进大赛活动的常态化开展。</dd>
						</dl>
						<a class="btn-review" href="https://kepudasai2017.cdstm.cn/index" target="_blank">查看2017官网</a>
					</li>
					<li>
						<div class="review-img"><img src="~/images/img-preview-2016.jpg" alt=""></div>
						<dl class="dl-review">
							<dt>
								<strong>PREVIEW 2016</strong>
								2016 SOLVE FOR TOMORROW
							</dt>
							<dd>2016年全国青年科普创新实验作品大赛在往届赛事基础上加以创新与突破，力求对赛事整体进行全面改善与升级。其中，科普实验单元将根据社会科学趋势更替竞赛命题内容旨在让同学们能学以致用；创新作品单元，以社会热点话题。</dd>
						</dl>
						<a class="btn-review" href="http://kepudasai2016.cdstm.cn/" target="_blank">查看2016官网</a>
					</li>
					<li>
						<div class="review-img"><img src="~/images/img-preview-2015.jpg" alt=""></div>
						<dl class="dl-review">
							<dt>
								<strong>PREVIEW 2015</strong>
								2015 SOLVE FOR TOMORROW
							</dt>
							<dd>2015年全国青年科普创新实验暨作品大赛在往届赛事基础上加以创新与突破，力求对赛事整体进行全面改善与升级。其中，科普实验单元将根据社会科技趋势更 替竞赛命题内容，旨在让同学们能学以致用；创新作品单元，以社会热点话题为基础，细分问题领域，鼓励学生将科普运用到实际生活之中。</dd>
						</dl>
						<a class="btn-review" href="http://kepudasai2015.cdstm.cn/" target="_blank">查看2015官网</a>
					</li>
					<li>
						<div class="review-img"><img src="~/images/img-preview-2014.jpg" alt=""></div>
						<dl class="dl-review">
							<dt>
								<strong>PREVIEW 2014</strong>
								2014 SOLVE FOR TOMORROW
							</dt>
							<dd>2014年全国青年科普创新实验暨作品大赛将赛事分为“创意作品单元”及“科普实验单元”两个模块单元并同时进行，突出学生的科技创新能力，展现他们关注身边有待解决的关于“节能、环保、健康”问题的能力，充分发挥学生的想象力与科技创造力。</dd>
						</dl>
						<a class="btn-review" href="http://kepudasai2015.cdstm.cn/2014/" target="_blank">查看2014官网</a>
					</li>
					<li>
						<div class="review-img"><img src="~/images/img-preview-2013.jpg" alt=""></div>
						<dl class="dl-review">
							<dt>
								<strong>PREVIEW 2013</strong>
								2013 SOLVE FOR TOMORROW
							</dt>
							<dd>2013年全国青年科普创新实验大赛以“节能、环保、健康”为主题，提出“科技是解决问题的最好手段之一” 2013年大赛共设3个命题，分别是数据传输，风能利用，安全保护；并针对在校大学生、高中生开展一系列科技主题公益活动。</dd>
						</dl>
						<a class="btn-review" href="http://kepudasai2013.cdstm.cn/" target="_blank">查看2013官网</a>
					</li>
				</ul>
				<!-- review end -->
			</div>
		</div>
	</section>
	<!-- awards end -->

</div>